
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width">
	<title>Automarket - Demo</title>
	{% load static %} 
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/demo.css' %}">

	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>

	<section class="grid">
		<div id="sidebar">
			<nav>
				Sidebar
			</nav>
			<section>
				<nav id="sidebar_tab">
					<ul id="sidebar_list">
						<script type="text/javascript">
							function toggle_tab_btn(clicked_btn) {
								$('#sidebar_list').find('li').each(function(){
									var btn_id = $(this).children('button').attr('id');
									document.getElementById(btn_id).className = '';
								});
								//sets the clicked buttons class to clicked
								document.getElementById(clicked_btn).className = 'clicked';
							}

							function load_sidebar_tab(data) {
								console.log(data)
								for (var exchange_id in data) {
									//creates a button in a li with exchange_id as text
									var node = document.createElement("li");
									var button = document.createElement("button");
									button.id = exchange_id

									button.addEventListener('click', function() {
										load_sidebar_table(data[this.id]);
										toggle_tab_btn(this.id);
									}, false);
									button.appendChild(document.createTextNode(exchange_id));
									node.appendChild(button);
									document.getElementById("sidebar_list").appendChild(node);
								}
							}
						</script>
					</ul>
				</nav>
				<div id='sidebar_table' cellpadding="0" cellspacing="0" border="0">
					<section id="table_label">
						<div class='left_col'>coin</div>
						<div class='center_col'>start</div>
						<div class='right_col'>end</div>
					</section>
					<section id='table_body'>
						<script type="text/javascript">

							function toggle_table_btn(clicked_btn) {
								$('#table_body').find('div').each(function(){
									var btn_id = $(this).attr('id');
									document.getElementById(btn_id).className = '';
									console.log(btn_id)
								});
								//sets the clicked buttons class to clicked
								document.getElementById(clicked_btn).className = 'clicked';
							}

							function load_sidebar_table(coins) {
								var table = document.getElementById('table_body')
								//clears table
								while (table.hasChildNodes()) {
									table.removeChild(table.firstChild);
								};

								//populate element with buttons

								//table body
								for (var i = 0; i < coins.length; i++) {
									// this element is a div because "button" does
									// not work properly with a nested css grid
									var button = document.createElement('div');
									button.className = 'table_btn'
									button.id = coins[i]['index_id']

									// click event
									button.addEventListener('click', function() {
										load_display_box(this.id);
										toggle_table_btn(this.id);
									}, false);

									//left column
									var left_col = document.createElement('span');
									left_col.className = 'left_col';
									left_col.appendChild(document.createTextNode(coins[i]['coin']));
									button.appendChild(left_col);
									//center column
									var center_col = document.createElement('span');
									center_col.className = 'center_col';
									center_col.appendChild(document.createTextNode(coins[i]['start']));
									button.appendChild(center_col);
									//right column
									var right_col = document.createElement('span');
									right_col.className = 'right_col';
									right_col.appendChild(document.createTextNode(coins[i]['end']));
									button.appendChild(right_col);

									table.appendChild(button);
								};
							};
						</script>
					</section>
				</div>
			</section>
		</div>
		<div id="graph_box">
			<nav>
				Graph Box
			</nav>
			<section id="graph">
				{% load static %}
				<script src="{% static 'main/js/demo/graph.js' %}"></script>
			</section>
			<div style="padding: 1em">
  				<input type="range" min="1" max="200" value="100" class="slider">
			</div>
		</div>
		<div id="control_box">
			<nav>
				Control Box
			</nav>
			<section class="nested_grid">
				<div class="vl"></div>
				<section id="checkboxes">
					<button id="update_graph_btn">Update Graph</button>
					<script type="text/javascript">
						button = document.getElementById("update_graph_btn")

						button.addEventListener("click", function() {
							data = selected_columns() //list of selected column names 
							//from UI element #data_selector
							load_graph(data)
						})
					</script>
					<div>
						<input type="checkbox" name="normalize">
						<label for="normalize">Normalize Data</label>
					</div>
					<div>
						<input type="checkbox" name="scale">
						<label for="scale">Scale Data</label>
					</div>
				</section>
				<div id="data_selector">
					<script type="text/javascript">
						function toggle_selector_btn(clicked_btn) {
							// loads clicked_btn
							var button = document.getElementById(clicked_btn);
							// determines if clicked is a class
							if (button.classList.contains('clicked')) {
								button.classList.remove('clicked');
							} else {
								button.classList.add('clicked');
							}
						}

						function populate_display_box(columns, index_id) {
							//clears div
							var div = document.getElementById('data_selector');
							while (div.hasChildNodes()) {
								div.removeChild(div.firstChild);
							};

							//index_id label
							var label = document.createElement('p');
							label.appendChild(document.createTextNode(index_id));
							div.appendChild(label)

							//ul of buttons, each corresponding to a data 
							//column in market data for given index_id
							var btn_list = document.createElement('ul');
							btn_list.id = 'selector_buttons';
							//creates a button for each column
							for (var i = 0; i < columns.length; i++) {
								var button = document.createElement('BUTTON');
								button.id = columns[i]
								button.addEventListener('click', function() {
									toggle_selector_btn(this.id);
								}, false);

								button.appendChild(document.createTextNode(columns[i]));
								btn_list.appendChild(button);
							}
							div.appendChild(btn_list);
						}

						// requests list of available data for the csv
						// data available from index_id
						function load_display_box(index_id) {
							$.ajax({
								url: 'control_box/',
								data: {'index_id': index_id},
								dataType: 'json',
								type: 'POST',
								success: function (data) {
									console.log(data.columns)
									var columns = data.columns;
									populate_display_box(columns, index_id);
								}
							})
						}
					</script>
				</div>
			</section>
		</div>
		<div id="display_box">
			<nav>
				Display Box
			</nav>
			<section>
			</section>
		</div>
	</section>

	<script type="text/javascript">
		$(function() {

		    // This function gets cookie with a given name
		    function getCookie(name) {
		       	var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    var csrftoken = getCookie('csrftoken');

		    /*
		    The functions below will create a header with csrftoken
		    */

		    function csrfSafeMethod(method) {
		        // these HTTP methods do not require CSRF protection
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		    function sameOrigin(url) {
		        // test that a given url is a same-origin URL
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }

		    $.ajaxSetup({
		        beforeSend: function(xhr, settings) {
		            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
		                // Send the token to same-origin, relative URLs only.
		                // Send the token only if the method warrants CSRF protection
		                // Using the CSRFToken value acquired earlier
		                xhr.setRequestHeader("X-CSRFToken", csrftoken);
		            }
		        }
		    });
		});

		$.ajax({
			url: 'sidebar/',
			data: {},
			dataType: 'json',
			success: function (data) {
				load_sidebar_tab(data);
				//load_sidebar_table(data);
			}
		});
	</script>


	{% if messages %}
		{% for message in messages %}
			<script>
				alert('{{message}}')
			</script>
		{% endfor %}
	{% endif %}

</body>