
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width">
	<title>Automarket - Demo</title>
	{% load static %} 
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/demo.css' %}">

	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>

	<section class="grid">
		<div id="sidebar">
			<nav>
				Sidebar
			</nav>
			<section>
				<nav id="sidebar_tab">
					<ul id="sidebar_list">
						<script type="text/javascript">
							function load_sidebar_tab(data) {
								for (var exchange_id in data) {
									//creates a button in a li with exchange_id as text
									var node = document.createElement("LI");
									var button = document.createElement("BUTTON");
									button.onclick = function() {load_sidebar_table(data[exchange_id]);};
									button.appendChild(document.createTextNode(exchange_id));
									node.appendChild(button);
									document.getElementById("sidebar_list").appendChild(node);
								}
							}
						</script>
					</ul>
				</nav>
				<table id='sidebar_table' cellpadding="0" cellspacing="0" border="0">
					<script type="text/javascript">
						function load_sidebar_table(coins) {
							var table = document.getElementById('sidebar_table')
							//clears table
							while (table.hasChildNodes()) {
								table.removeChild(table.firstChild);
							};
							//populates table
							//first row is the title
							var row = document.createElement('TR');
							//left column
							var left_col = document.createElement('TH');
							left_col.className = 'left_col';
							left_col.appendChild(document.createTextNode('coin'));
							row.appendChild(left_col);
							//center column
							var center_col = document.createElement('TH');
							center_col.className = 'center_col';
							center_col.appendChild(document.createTextNode('start'));
							row.appendChild(center_col);
							//right column
							var right_col = document.createElement('TH');
							right_col.className = 'right_col';
							right_col.appendChild(document.createTextNode('end'));
							row.appendChild(right_col);

							table.appendChild(row);

							//table body
							for (var i = 0; i < coins.length; i++) {
								var row = document.createElement('TR');
								row.className = 'table_body'
								//left column
								var left_col = document.createElement('TD');
								left_col.className = 'left_col';
								left_col.appendChild(document.createTextNode(coins[i]['coin']));
								row.appendChild(left_col);
								//center column
								var center_col = document.createElement('TD');
								center_col.className = 'center_col';
								center_col.appendChild(document.createTextNode(coins[i]['start']));
								row.appendChild(center_col);
								//right column
								var right_col = document.createElement('TD');
								right_col.className = 'right_col';
								right_col.appendChild(document.createTextNode(coins[i]['end']));
								row.appendChild(right_col);

								table.appendChild(row);
							};
						};
					</script>
				</table>
			</section>
		</div>
		<div id="graph_box">
			<nav>
				Graph Box
			</nav>
			<section id="graph">
				{% load static %}
				<script src="{% static 'main/js/demo/graph.js' %}"></script>
			</section>
			<div style="padding: 1em">
  				<input type="range" min="1" max="200" value="100" class="slider">
			</div>
		</div>
		<div id="control_box">
			<nav>
				Control Box
			</nav>
			<section class="nested_grid">
				<div class="vl"></div>
				<section id="checkboxes">
					<div>
						<input type="checkbox" name="normalize">
						<label for="normalize">Normalize Data</label>
					</div>
					<div>
						<input type="checkbox" name="scale">
						<label for="scale">Scale Data</label>
					</div>
				</section>
			</section>
		</div>
		<div id="display_box">
			<nav>
				Display Box
			</nav>
			<section>
				<div id="data_selector">
					<p>KRAKEN_BTC_5MIN</p>
					<ul>
						<button>price_high</button>
						<button>price_low</button>
						<button>price_open</button>
						<button>price_close</button>
						<button>trades_count</button>
						<button>volume_traded</button>
						<button>market_cap</button>
					</ul>
				</div>
			</section>
		</div>
	</section>

	<script type="text/javascript">
		$.ajax({
			url: 'sidebar_content/',
			data: {},
			dataType: 'json',
			success: function (data) {
				load_sidebar_tab(data);
				//load_sidebar_table(data);
			}
		});
	</script>


	{% if messages %}
		{% for message in messages %}
			<script>
				alert('{{message}}')
			</script>
		{% endfor %}
	{% endif %}

</body>