
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width">
	<title>Automarket</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

	<header>
		<div class="container">
			<div id="branding">
				<a href="/" id="logo">Automarket</a>
			</div>
			<script type="text/javascript">
				function toggle_login(){
					let popup = document.querySelector("#demo_login");
					if (popup.style.visibility == "hidden"){
						popup.style.visibility = "visible"
					}
					else{
						popup.style.visibility = "hidden"
					}
				}
			</script>
			<button class="btn" onclick="toggle_login()">Demo Product</button>
		</div>
	</header>

	{% if messages %}
		{% for message in messages %}
			<script>
				alert('{{message}}')
			</script>
		{% endfor %}
	{% endif %}

	{% block content %}
	{% endblock %}

	<footer>
		<p>Automarket, Prototype Website</p>
	</footer>

</body>