body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #222629;
}

/* Global */
.container{
	width: 80%;
	max-width: 1920px;
	min-width: 800px;
	margin: auto;
	overflow: hidden;
}

p a{
	color: #86C232;
}

p a:hover{
	color: #61892F;
}

ul{
	margin: 0;
	padding: 0;
}

p{
	text-align: center;
	color: #6B6E70;
}

.btn{
	background: #86C232;
	border: 0;
	color: #f4f4f4;
	border-radius: 4px;
	outline: none;
}

.btn:hover{
	color: #cccccc;
	background-color: #61892F;
}

/* Header */
header{
	background: #222629;
	color: #f4f4f4;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #86C232 3px solid;
}

header a{
	color: #f4f4f4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 8px 20px 8px 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header button{
	float: right;
	margin-top: 5px;
	font-size: 16px;
	padding: 10px;
	border-radius: 4px;
}

header #logo{
	font-size: 32px;
	color: #86C232;
	font-weight: bold;
	text-transform: none;
}

header a:hover{
	color: #cccccc;
}

#demo_login{
	position: absolute;
	visibility: hidden;
	width: 90%;
}

/* Showcase */
#showcase{
	min-height: 400px;
	background: url("/static/main/img/showcase.jpg") no-repeat 0 -400px;
	background-position: center;
	text-align: center;
	color: #f4f4f4;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
	color: #cccccc;
}

/* Boxes */
#boxes{
	width: 80%;
	max-width: 1920px;
	min-width: 800px;
	display: grid;
	margin: auto;
	margin-top: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

#boxes h3{
	color: #cccccc;
}

#boxes .box{
	float: left;
	text-align: center;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}

/* Form */
.form {
	font-size: 20px;
	border: 1px solid #86C232;
	width: 200px;
	text-align: center;
	border-radius: 4px;
	color: #f4f4f4;
	padding: 20px;
	margin: auto;
	background-color: #222629;
}

.form input, .form button{
	font-size: 16px;
	padding: 8px;
	width: 80%;
	margin: auto;
}

.form p, .form ul{
	padding-top: 10px;
	width: 100%;
	color: #cccccc;
	margin: auto;
}

.form ul{
	margin: auto;
	text-align: left;
	font-size: 14px;
}

#demo_form{
	float: right;
}

footer{
	padding: 5px;
	margin-top: 20px;
	color: #f4f4f4;
	background-color: #86C232;
	text-align: center;
}