<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width">
	<title>Automarket</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/style.css' %}">

</head>
<body>

	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">Automarket</span></h1>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/demo">Demo</a></li>
					{% if user.is_authenticated %}
						<li><a href="/logout" onclick="">Logout</a></li>
					{% else %}
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</header>

	{% if messages %}
		{% for message in messages %}
			<script>
				alert('{{message}}')
			</script>
		{% endfor %}
	{% endif %}

	{% block content %}
	{% endblock%}

	<!--
	<footer>
		<p>Automarket, Prototype Website</p>
	</footer>
	-->

</body>